html {
  background: rgb(203,215,211);
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background-size: cover;
  font-size: 16pt;
}

body {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 1vw;
  border: 1px solid #FF4929;
  background-color: #FF4929;
  color: #FFFFFF;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 1vh 1vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 1vh 1vw;
}

#vision {
  background-size: cover;
  color: rgb(255,140,140);
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 3pt solid rgb(255,140,140);
  overflow-x: hidden;
}

#vision_header {
  font-size: calc(1.5rem + 3vw);
  font-weight: bold;
}

#vision_statement {
  font-size: calc(1rem + 1vw);
}

#us{
  margin-top: 5vh;
  margin-bottom: 0;
}

#team_header{
  text-align:center;
  font-size: 2rem; 
  padding-top: calc(1rem + 8vh)
  font-weight: bold;
}

#team_members{
  text-align:center;
}

#tyler{
  width: 25%;
  float: left;
  height: 100%;
}

#ashley{
  width: 25%;
  float: left;
  height: 100%;
}

#ali{
  width: 25%;
  float: left;
  height: 100%;
}
#edwin{
  width: 25%;
  float: left;
  height: 100%;
}



img.headshot{
  border: 0.25rem solid rgb(255,140,140);
  border-radius: 50%;
  width: 16vw;
  height: 25vh;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0);
}

.topnav button {
  float: right;
  text-align: center;
  padding: .25vh .25vw;
  margin: 1vh .25vw;
  text-decoration: none;
  font-size: .5rem;
  font-weight: normal;
}

button:active {
  transform: scale(0.95);
}
button:hover {
  background-color: #FF6949;
  cursor: pointer;
}
